.progressbar {
    width: 90%;
    height: 15px;
    border: 1px dotted #ccc;
    background-color: #eee;
}

.progressbar-step {
    float: left;
    height: 100%;
    background-image: url(++resource++eea.workflow.progress/arrow-down.png);
    background-repeat: no-repeat;
    background-position: right top;
}

.progressbar-current {
    background-color: #BAE0BA;
}

.progress-label {
    float: right;
}
